

.idea
app/.idea
app/.mvn
app/HELP.md
app/target/
app/!.mvn/wrapper/maven-wrapper.jar
app/!**/src/main/**/target/
app/!**/src/test/**/target/
app/.apt_generated
app/.classpath
app/.factorypath
app/.project
app/.settings
app/.springBeans
app/.sts4-cache
app/.idea
app/*.iws
app/*.iml
app/*.ipr
app/nbproject/private/
app/nbbuild/
app/dist/
app/nbdist/
app/.nb-gradle/
app/build/
app/!**/src/main/**/build/
app/!**/src/test/**/build/
app/.vscode/
app/.gitignore

## frontend part

# Logs
app/frontend/fishStore/logs
app/frontend/fishStore/*.log
app/frontend/fishStore/npm-debug.log*
app/frontend/fishStore/yarn-debug.log*
app/frontend/fishStore/yarn-error.log*
app/frontend/fishStore/pnpm-debug.log*
app/frontend/fishStore/lerna-debug.log*
app/frontend/fishStore/node_modules
app/frontend/fishStore/dist
app/frontend/fishStore/dist-ssr
app/frontend/fishStore/*.local

# Editor directories and files
app/frontend/fishStore/.vscode/*
app/frontend/fishStore/!.vscode/extensions.json
app/frontend/fishStore/.idea
app/frontend/fishStore/.DS_Store
app/frontend/fishStore/*.suo
app/frontend/fishStore/*.ntvs*
app/frontend/fishStore/*.njsproj
app/frontend/fishStore/*.sln
app/frontend/fishStore/*.sw?
app/frontend/fishStore/.gitignore
app/frontend/fishStore/node_modules

